<input type="file" #tnFileUploader (change)="tnImportFile($event)" [multiple]="multiple" [accept]="accept" name="tnFileUploader"
    [ngClass]="{'tn-hidden':hidden, 'inputStyleForEditor': inputStyleForEditor}">
<p *ngIf="msg" class="nt-err-msg">{{msg}}</p>
<i class="fa fa-spinner fa-pulse fa-3x fa-fw" *ngIf="showSpinner"></i>
<span class="sr-only" *ngIf="showSpinner">Loading...</span>
<div class="tn-i-d-m-b" *ngIf="images.length != 0 && !hidden">
    <div *ngFor="let image of images;let i = index;" class="tn-i-d-b">
        <img [src]="image.url" *ngIf="displayfile">
        <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(image.url)" *ngIf="displayfile && ((image.ext == 'pdf' && image.preExt == 'application') || image.ext == 'svg+xml')"></iframe>
        <p style="text-align: center; word-wrap: break-word;margin:0;" *ngIf="displayname || displaysize|| image.status != ''">
            <small *ngIf="displayname">{{image.name}}</small>
            <small *ngIf="displaysize"> ({{image.size | number}} Bytes)</small>
        </p>
        <button (click)="tnRemove(i)" *ngIf="showCustomRemoveButton" class="nt-btn no-min-width tn-close">
            X
        </button>
    </div>
</div>